<div id="content">
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>New account / Sign in</li>
            </ul>

        </div>

        <div class="col-md-6">
            <div class="box">
                <h1>New account</h1>

                <p class="lead">Not our registered customer yet?</p>
                <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole
                    process will not take you more than a minute!</p>
                <p class="text-muted">If you have any questions, please feel free to
                    <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

                <hr>

                <form #fr="ngForm" [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="name">Tên</label>
                            <input type="text" class="form-control" id="name" formControlName="firstName" pattern="[A-Za-z]{4,}$">
                        </div>
                        <div class="form-group pull-right">
                            <label for="name">Họ</label>
                            <input type="text" class="form-control" id="name" formControlName="lastName" pattern="[A-Za-z]{4,}$" >
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        <div *ngIf="registerForm.get('email').errors && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                            <div [hidden]="!registerForm.get('email').errors.email || registerForm.get('email').value == ''" class="warning">*Email is not valid</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                        <div *ngIf="registerForm.get('password').errors && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                            <div [hidden]="!registerForm.get('password').errors.pattern || registerForm.get('password').value == ''" class="warning">*Password has to contain at least one letter and one number</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password Comfirm</label>
                        <input type="password" class="form-control" id="password" formControlName="passwordComfirm" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                        <div *ngIf="registerForm.get('passwordComfirm').errors && (registerForm.get('passwordComfirm').dirty || registerForm.get('passwordComfirm').touched)">
                            <div [hidden]="!registerForm.get('passwordComfirm').errors.pattern || registerForm.get('passwordComfirm').value == ''" class="warning">*Password Comfirm has to contain at least one letter and one number</div>
                        </div>
                    </div>
                    <re-captcha (resolved)="resolved($event)" siteKey="6LffB00UAAAAAKCipdmwqbLTzE7KCoJrd67SD7oG"></re-captcha>
                    <div class=" warning" [hidden]="messageRegister==''" style="margin-top:-15px;margin-bottom:5px;">{{messageRegister}}</div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" [disabled]="!(fr.form.valid && isCheckCaptcha == true)" style="margin-top: 10px;">
                            <i class="fa fa-user-md"></i> Register</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box">
                <h1>Login</h1>

                <p class="lead">Already our customer?</p>
                <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                    tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                    semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                <hr>

                <form [formGroup]="loginForm" #f="ngForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" formControlName="email">
                        <div *ngIf="loginForm.get('email').errors && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                            <div [hidden]="!loginForm.get('email').errors.email || loginForm.get('email').value == ''" class="warning">*Email is not valid</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                    </div>
                    <re-captcha (resolved)="resolved($event)" siteKey="6LffB00UAAAAAKCipdmwqbLTzE7KCoJrd67SD7oG"></re-captcha>
                    <div class=" warning" [hidden]="messageLogin==''" style="margin-top:-15px;margin-bottom:5px;">{{messageLogin}}</div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">
                            <i class="fa fa-sign-in"></i> Log in</button>
                        <!-- [disabled]="!f.form.valid" -->
                    </div>
                </form>
            </div>
        </div>


    </div>
    <!-- /.container -->
</div>
<!-- /#content -->