<%- include('./includes/header') %>
    <title>Manage Orders</title>
    </head>
    <%- include('./includes/headerUnder') %>

        <body class="skin-blue">
            <div class="wrapper row-offcanvas row-offcanvas-left">
                <%- include('./includes/sideBar') %>
                    <aside class="right-side">
                        <section class="content-header">
                            <h1>
                                <i class="fa fa-users"></i>
                                Manage Orders
                                <small>Add, Edit, Delete,block, unblock users</small>
                            </h1>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/">
                                        <i class="fa fa-dashboard"></i> Home</a>
                                </li>
                                <li class="active">Orders</li>
                            </ol>
                        </section>
                        <section class="content">
                            <div id="loader-wrapper">
                                <div id="loader"></div>
                            </div>

                        </section>
                    </aside>
            </div>
            <%- include('./includes/footer') %>
                <script>
                    var ssID = localStorage.getItem("ssID");
                    let token = localStorage.getItem("token");

                    window.token = token
                    $.ajax
                        ({
                            type: "GET",
                            headers: { 'x-access-token': token },
                            url: "/api/admin/orders/",
                            success: function (response) {
                                if (response.data && response.data.length > 0) {

                                    var Orders = response.data;
                                    var totalRecords = response.total;
                                    var perPage = response.perPage;
                                    window.currentPage = response.currentPage;
                                    window.lastPage = response.totalPages;
                                    $(".content").html(`${renderContent(Orders, totalRecords, perPage)}`); // end of if
                                    
                                } else {

                                    $(".content").html(`${renderContent()}`);

                                }
                            }
                        });

                    $(document).on("click", ".prev-page", function (e) {
                        if (window.currentPage === "1") {
                            return;
                        }
                        $(".content").html(`<div id="loader-wrapper"><div id="loader"></div></div>`);
                        $.ajax
                            ({
                                type: "GET",
                                headers: { 'x-access-token': token },
                                url: `/api/admin/users/${Number(window.currentPage) - 1}`,
                                success: function (response) {
                                    if (response.data && response.data.length > 0) {
                                        var Orders = response.data;
                                        var totalRecords = response.total;
                                        var perPage = response.perPage;
                                        window.currentPage = response.currentPage;
                                        window.lastPage = response.totalPages;
                                        $(".content").html(`${renderContent(Orders, totalRecords, perPage)}`); // end of if

                                    } else {

                                        $(".content").html(`${renderContent(Orders, totalRecords, perPage)}`);

                                    }
                                }
                            });

                    });
                    $(document).on("click", "#delete-user", function (e) {

                        let orderId = $("#delete-user").val();
                        let token = window.token;

                        $(".content").html(`<div id="loader-wrapper"><div id="loader"></div></div>`);
                        $.ajax
                            ({
                                type: "PUT",
                                url: `/api/admin/deleteOrder`,
                                headers: { 'x-access-token': token },
                                contentType: 'application/json',
                                data: JSON.stringify({ orderId: orderId, page: window.currentPage }),
                                success: function (response) {

                                    if (response.data && response.data.length > 0) {
                                        console.log(response)
                                        var Orders = response.data;
                                        var totalRecords = response.total;
                                        var perPage = response.perPage;
                                        window.currentPage = response.currentPage;
                                        window.lastPage = response.totalPages;
                                        $(".content").html(renderContent(Orders, totalRecords, perPage)); // end of if
                                    } else {
                                        $(".content").html(renderContent());
                                    }
                                }
                            })
                    });
                    $(document).on("click", "#shipping-status", function (e) {
                        $(".content").html(`<div id="loader-wrapper"><div id="loader"></div></div>`);
                        let orderId = $(this).attr("value");
                        let shippingStatus = $(this).attr("status");
                        
                        $.ajax
                            ({
                                type: "PUT",
                                headers: { 'x-access-token': token },
                                url: `/api/admin/updateOrder/`,
                                contentType: 'application/json',
                                data:  JSON.stringify({ orderId, shipping: shippingStatus, page: window.currentPage }),
                                success: function (response) {
                                    console.log(response);
                                    if (response.data && response.data.length > 0) {
                                        var Orders = response.data;
                                        var totalRecords = response.total;
                                        var perPage = response.perPage;
                                        window.currentPage = response.currentPage;
                                        window.lastPage = response.totalPages;
                                        $(".content").html(`${renderContent(Orders, totalRecords, perPage)}`); // end of if

                                    } else {

                                        $(".content").html(`${renderContent()}`);

                                    }
                                }
                            });
                        
                    })
                    $(document).on("click", ".next-page", function (e) {
                        console.log(window.lastPage, window.currentPage);
                        if (window.lastPage === window.currentPage) {
                            return;
                        }
                        $(".content").html(`<div id="loader-wrapper"><div id="loader"></div></div>`);
                        $.ajax
                            ({
                                type: "GET",
                                headers: { 'x-access-token': token },
                                url: `/api/admin/users/${Number(window.currentPage) + 1}`,
                                success: function (response) {
                                    if (response.data && response.data.length > 0) {
                                        var Orders = response.data;
                                        var totalRecords = response.total;
                                        var perPage = response.perPage;
                                        window.currentPage = response.currentPage;
                                        window.lastPage = response.totalPages;
                                        $(".content").html(`${renderContent(Orders, totalRecords, perPage)}`); // end of if

                                    } else {

                                        $(".content").html(`${renderContent(Orders, totalRecords, perPage)}`);

                                    }
                                }
                            });
                    });

                    function renderContent(Orders, totalRecords, perPage) {
                        if (Orders) {
                            return (`
								<input type="hidden" id="page" value="<?php echo $_POST['pageid'] ?>" />
								<div class="col-lg-10 col-md-11 col-sm-12 col-xs-12">
									<div class="row">
										<div class="col-lg-2 col-md-2 col-sm-2 margin-bottom">
											<a href="/admin/addUser" class="btn btn-success">
											<i class="fa fa-plus"></i> Add User</a>
										</div>
										
									</div>
									<div class="box box-warning">
										<div class="box-header">
											<h3 class="box-title">All Orders</h3>
										</div>
										<div class="box-body no-padding">
											<div class="table-responsive">
											<table class="table table-striped">
												<tr>
													<th>#</th>
													<th>Order</th>
													<th>User</th>
                                                    <th>Status</th>
													<th class="action">Action</th>
												</tr>
												${Orders.map((order, index) => `
												<tr>
													<td>
														${index + 1}
													</td>
													<td><a href="/admin/editOrder/${order._id}">${order._id || ""}</a>
													</td>
													<td> ${order.profile.firstName} </td>
                                                    
                                                    <td>
                                                    ${
                                                        order.shipping === "processing" ? `<button id="shipping-status" value="${order._id}" status="${order.shipping === "done" ? "processing" : "done"}" title="Not Approved" class="approve badge bg-blue">
                                                            Processing
                                                        </button>` : `<button id="shipping-status" value="${order._id}" status="${order.shipping === "done" ? "processing" : "done"}" title="Approved" class="badge bg-green">
                                                            Done
                                                        </button>`
                                                    }                                                                                                             
									                </td>  
													
													<td>
														<button title="Delete Order" id="delete-user" value="${order._id}" class="delete-user btn btn-danger btn-xs">
														<span class="glyphicon glyphicon-trash"></span>
														</button>
														
													</td>
												</tr>
												`)}
											</table>
											</div>
										</div>
									</div>
									<div class="pagination pagination-sm" style=" display: block; text-align: center;" >
										${ totalRecords > perPage ? `
										<a class="prev-page" style="display: inline-block; margin: 0 auto; padding: 2px 10px; border: 1px solid #333; color: #fff; margin: 0 3px; display: inline-block; background-color: #333;" href="#">«</a>
										<a class="next-page" style="display: inline-block; margin: 0 auto; padding: 2px 10px; border: 1px solid #333; color: #fff; margin: 0 3px; display: inline-block; background-color: #333;"  href="#">»</a>
										` : ``}
									</div>
								</div>
			`);
                        }

                        return (`
							<input type="hidden" id="page" value="<?php echo $_POST['pageid'] ?>" />
							<div class="col-lg-10 col-md-11 col-sm-12 col-xs-12">
							<div class="row">
								<div class="col-lg-2 col-md-2 col-sm-2 margin-bottom">
									<a href="/admin/addUser" class="btn btn-success">
									<i class="fa fa-plus"></i> Add User</a>
								</div>
								<div class="col-lg-5 col-md-6 col-sm-6 pull-right margin-bottom">
									<form id="" name="" action="">
										<div class="typeahead-container">
										<div class="typeahead-field">
											<span class="typeahead-query">
											<input id="search" name="search" type="search" placeholder="Search Orders..." value="" autocomplete="off">
											</span>
											<span class="typeahead-button">
											<button type="submit">
											<i class="fa fa-search search-icon"></i>
											</button>
											</span>
										</div>
										</div>
									</form>
								</div>
							</div>
							<div class="box box-warning">
								<div class="box-header">
									<h3 class="box-title">All Orders</h3>
								</div>
								<div class="box-body no-padding">
									<div class="table-responsive">
										<table class="table table-striped">
										<tr>
											<th>#</th>
											<th>Username</th>
											<th>Email</th>
											<th class="action">Action</th>
										</tr>
										<p class="not-found">
											<i class="fa fa-folder-open"></i> No User Found
										</p>
										</table>
									</div>
								</div>
							</div>
							</div>

		`)

                    }

                </script>