<div id="content">

  <div class="container">
    <div class="col-md-12">
      <div id="main-slider">
        <div class="item">
          <img src="assets/img/1.jpg" alt="" class="img-responsive">
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/img/2.jpg" alt="">
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/img/3.jpg" alt="">
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/img/4.jpg" alt="">
        </div>
      </div>
      <!-- /#main-slider -->
    </div>
  </div>

  <!-- *** ADVANTAGES HOMEPAGE ***
 _________________________________________________________ -->
  <div id="advantages">

    <div class="container">
      <div class="same-height-row">
        <!-- <div class="col-sm-4">
          <div class="box same-height clickable">
            <div class="icon">
              <i class="fa fa-heart"></i>
            </div>

            <h3>
              <a href="#">We love our customers</a>
            </h3>
            <p>We are known to provide best possible service ever</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="box same-height clickable">
            <div class="icon">
              <i class="fa fa-tags"></i>
            </div>

            <h3>
              <a href="#">Best prices</a>
            </h3>
            <p>You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="box same-height clickable">
            <div class="icon">
              <i class="fa fa-thumbs-up"></i>
            </div>

            <h3>
              <a href="#">100% satisfaction guaranteed</a>
            </h3>
            <p>Free returns on everything for 3 months.</p>
          </div>
        </div> -->
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

  </div>
  <!-- /#advantages -->

  <!-- *** ADVANTAGES END *** -->

  <!-- *** HOT PRODUCT SLIDESHOW ***
 _________________________________________________________ -->
  <div id="hot">

    <div class="box">
      <div class="container">
        <div class="col-md-12">
          <h2>Sản phẩm Hot</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">

        <ngx-tile NgxCarouselItem *ngFor="let product of hotProducts">

          <img src="{{product.mainImage}}" alt="" class="img-responsive">
          <h4 class="product-name">
            <a style="color: black" [routerLink]="['/detail', product._id]">{{product.name}}</a>
          </h4>
          <p *ngIf="product.sale == 0" class="text-center price-sale">{{product.price}} VND</p>
          <p *ngIf="product.sale > 0" class="text-center">
            <del class="price">{{product.price}} </del>
            <span class="price-sale"> {{product.price * (100 - product.sale)/100}} VND</span>
          </p>
          <div class="ribbon new" *ngIf="product.isNew">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->
          <div class="ribbon sale" *ngIf="product.sale > 0">
            <div class="theribbon">{{product.sale}}%</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->


        </ngx-tile>

        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
      </ngx-carousel>



      <div class="box">
        <div class="container">
          <div class="col-md-12">
            <h2>Sản phẩm mới</h2>
          </div>
        </div>
      </div>

      <div class="container">
        <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)" *ngIf="newProducts">

          <ngx-tile NgxCarouselItem *ngFor="let product of newProducts">

            <img src="{{product.mainImage}}" alt="" class="img-responsive">
            <h4 class="product-name">
              <a style="color: black" [routerLink]="['/detail', product._id]">{{product.name}}</a>
            </h4>
            <p *ngIf="product.sale == 0" class="text-center price-sale">{{product.price}} VND</p>
            <p *ngIf="product.sale > 0" class="text-center">
              <del class="price">{{product.price}} </del>
              <span class="price-sale"> {{product.price * (100 - product.sale)/100}} VND</span>
            </p>
            <div class="ribbon new">
              <div class="theribbon">NEW</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->
            <div class="ribbon sale" *ngIf="product.sale > 0">
              <div class="theribbon">{{product.sale}}%</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

          </ngx-tile>

          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel>

        <!-- /#hot -->

        <!-- <div class="box">
          <div class="container">
            <div class="col-md-12">
              <h2>Sản phẩm đang giảm giá nhiều nhất</h2>
            </div>
          </div>
        </div>

        <div class="container">
          <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">

            <ngx-tile NgxCarouselItem *ngFor="let product of saleProducts">
              <img src="{{product.mainImage}}" alt="" class="img-responsive">
              <h4 class="product-name">
                <a style="color: black" [routerLink]="['/detail', product._id]">{{product.name}}</a>
              </h4>
              <p *ngIf="product.sale == 0" class="text-center price-sale">{{product.price}} VND</p>
              <p *ngIf="product.sale > 0" class="text-center">
                <del class="price">{{product.price}} </del>
                <span class="price-sale"> {{product.price * (100 - product.sale)/100}} VND</span>
              </p>
              <div class="ribbon new" *ngIf="product.isNew">
                <div class="theribbon">NEW</div>
                <div class="ribbon-background"></div>
              </div>
              <div class="ribbon sale" *ngIf="product.sale > 0">
                <div class="theribbon">{{product.sale}}%</div>
                <div class="ribbon-background"></div>
              </div>
            </ngx-tile>

            <button NgxCarouselPrev class='leftRs'>&lt;</button>
            <button NgxCarouselNext class='rightRs'>&gt;</button>
          </ngx-carousel> -->
        <!-- *** HOT END *** -->

        <!-- *** GET INSPIRED ***
 _________________________________________________________ -->
        <div class="container">
          <div class="col-md-12">
            <div class="box slideshow">
              <h3>Nguồn cảm hứng</h3>
              <p class="lead">Cảm hứng từ những thứ xinh đẹp</p>
              <div id="get-inspired" class="owl-carousel owl-theme">
                <div class="item">
                  <a href="#">
                    <img src="./assets/img/getinspired1.jpg" alt="Get inspired" class="img-responsive">
                  </a>
                </div>
                <div class="item">
                  <a href="#">
                    <img src="./assets/img/getinspired2.jpg" alt="Get inspired" class="img-responsive">
                  </a>
                </div>
                <div class="item">
                  <a href="#">
                    <img src="./assets/img/getinspired3.jpg" alt="Get inspired" class="img-responsive">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- *** GET INSPIRED END *** -->

        <!-- *** BLOG HOMEPAGE ***
 _________________________________________________________ -->
        <!-- 
          <div class="box text-center">
            <div class="container">
              <div class="col-md-12">
                <h3 class="text-uppercase">From our blog</h3>

                <p class="lead">What's new in the world of fashion?
                  <a href="blog.html">Check our blog!</a>
                </p>
              </div>
            </div>
          </div> -->

        <div class="container">

          <div class="col-md-12">

            <div id="blog-homepage" class="row">
              <!-- <div class="col-sm-6">
                  <div class="post">
                    <h4>
                      <a href="post.html">Fashion now</a>
                    </h4>
                    <p class="author-category">By
                      <a href="#">John Slim</a> in
                      <a href="">Fashion and style</a>
                    </p>
                    <hr>
                    <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                      tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                      semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <p class="read-more">
                      <a href="post.html" class="btn btn-primary">Continue reading</a>
                    </p>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="post">
                    <h4>
                      <a href="post.html">Who is who - example blog post</a>
                    </h4>
                    <p class="author-category">By
                      <a href="#">John Slim</a> in
                      <a href="">About Minimal</a>
                    </p>
                    <hr>
                    <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                      tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                      semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <p class="read-more">
                      <a href="post.html" class="btn btn-primary">Continue reading</a>
                    </p>
                  </div>

                </div> -->

            </div>
            <!-- /#blog-homepage -->
          </div>
        </div>
        <!-- /.container -->

        <!-- *** BLOG HOMEPAGE END *** -->


      </div>
      <!-- /#content -->
    </div>
  </div>