<div id="content">
    <div class="container">

        <!-- <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>{{type}}</li>
            </ul>
        </div> -->

        <!-- <div class="col-md-3"> -->
        <!-- <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li>
                            <a href="category.html">Men
                                <span class="badge pull-right">42</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="category.html">T-shirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Shirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Pants</a>
                                </li>
                                <li>
                                    <a href="category.html">Accessories</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="category.html">Ladies
                                <span class="badge pull-right">123</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="category.html">T-shirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Skirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Pants</a>
                                </li>
                                <li>
                                    <a href="category.html">Accessories</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="category.html">Kids
                                <span class="badge pull-right">11</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="category.html">T-shirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Skirts</a>
                                </li>
                                <li>
                                    <a href="category.html">Pants</a>
                                </li>
                                <li>
                                    <a href="category.html">Accessories</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Brands
                        <a class="btn btn-xs btn-danger pull-right" href="#">
                            <i class="fa fa-times-circle"></i> Clear</a>
                    </h3>
                </div>

                <div class="panel-body">

                    <form>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Armani (10)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Versace (12)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Carlo Bruni (15)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Jack Honey (14)
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-default btn-sm btn-primary">
                            <i class="fa fa-pencil"></i> Apply</button>

                    </form>

                </div>
            </div>

            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Colours
                        <a class="btn btn-xs btn-danger pull-right" href="#">
                            <i class="fa fa-times-circle"></i> Clear</a>
                    </h3>
                </div>

                <div class="panel-body">

                    <form>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="colour white"></span> White (14)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="colour blue"></span> Blue (10)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="colour green"></span> Green (20)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="colour yellow"></span> Yellow (13)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span class="colour red"></span> Red (10)
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-default btn-sm btn-primary">
                            <i class="fa fa-pencil"></i> Apply</button>

                    </form>

                </div>
            </div>

            <div class="banner">
                <a href="#">
                    <img src="./assets/img/banner.jpg" alt="sales 2014" class="img-responsive">
                </a>
            </div> -->
        <!-- </div> -->

        <div class="col-md-12">
            <div class="box">
                <h2>{{kind}}</h2>
            </div>

            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-4 products-showing">
                        Showing
                        <strong>{{currentProducts}}</strong> of
                        <strong>{{allProducts}}</strong> products
                    </div>

                    <div class="col-sm-12 col-md-8  products-number-sort">
                        <div class="row">
                            <form class="form-inline">
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-number">

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-sort-by">
                                        <strong>Sort by</strong>
                                        <select name="sort-by" class="form-control" (change)="sortBy($event)">
                                            <option>Price</option>
                                            <option>Name</option>
                                            <option selected>Choose</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row products">

                <div class="col-md-3 col-sm-6" *ngFor="let product of allProduct">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="{{product.mainImage}}" alt="" style="height:250px" class="img-responsive" align="middle">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="{{product.mainImage}}" alt="" style="height:250px" class="img-responsive" align="middle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a [routerLink]="['/detail', product._id]" class="invisible">
                            <img src="{{product.mainImage}}" style="height:250px" alt="" class="img-responsive" align="middle">
                        </a>
                        <div class="text">
                            <h3>
                                <a [routerLink]="['/detail', product._id]">{{product.name}}</a>
                            </h3>
                            <p class="brand">{{product.brand.name}}</p>
                            <p class="buttons" *ngIf="product.sale > 0">
                                <del class="price" style="margin-right:4px">{{product.price | number}} VND </del>
                                <span class="price-sale">{{(100 -product.sale)*product.price/100 | number}} VND</span>
                            </p>
                            <p class="buttons" *ngIf="product.sale === 0">
                                <span class="price">{{product.price | number}} VND</span>
                            </p>
                            <a class="btn btn-primary" style="display:block; margin: 0 auto 10px auto" [routerLink]="['/detail', product._id]">Chi tiết</a>
                        </div>
                        <!-- /.text -->
                        <div class="ribbon sale" *ngIf="product.sale > 0">
                            <div class="theribbon">{{product.sale}}%</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                        <div class="ribbon new" *ngIf="product.new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->
                    </div>
                    <!-- /.product -->
                </div>



                <div class="pages col-md-12">

                    <div>
                        <ul *ngIf="pagination.length > 0" class="pagination">
                            <li *ngFor="let page of pagination" [ngClass]="{active:currentPage === page}">
                                <a (click)="setPage(page)">{{page}}</a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->