<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">

                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>My account</li>
                </ul>

            </div>

            <div class="col-md-3">
                <!-- *** CUSTOMER MENU ***
   _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Customer section</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a href="customer-orders.html">
                                    <i class="fa fa-list"></i> My orders</a>
                            </li>
                            <li>
                                <a [routerLink]="['/wishlist']">
                                    <i class="fa fa-heart"></i> My wishlist</a>
                            </li>
                            <li>
                                <a href="customer-account.html">
                                    <i class="fa fa-user"></i> My account</a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->

                <!-- *** CUSTOMER MENU END *** -->
            </div>

            <div class="col-md-9">
                <div class="box">
                    <h1>My account</h1>
                    <p class="lead">Change your personal details or your password here.</p>
                    <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                    <h3>Change password</h3>

                    <form [formGroup]="passwordChangeForm" #f="ngForm" (ngSubmit)="changePasswd()">
                        <div class="row">
                            <!-- <div class="col-sm-6">
                                      <div class="form-group">
                                          <label for="password_old">Old password</label>
                                          <input type="password" class="form-control" id="password_old" formControlName="oldPasswd" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                                      </div>
                                  </div> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="password_1">New password</label>
                                    <input type="password" class="form-control" id="password_1" formControlName="newPasswd" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="password_2">Retype new password</label>
                                    <input type="password" class="form-control" id="password_2" formControlName="retypeNewPasswd" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                                </div>
                            </div>
                        </div>
                        <p *ngIf="messageChangePasswd != ''" style="color: red">{{messageChangePasswd}}</p>
                        <re-captcha (resolved)="resolved($event)" siteKey="6LffB00UAAAAAKCipdmwqbLTzE7KCoJrd67SD7oG"></re-captcha>
                        <!-- /.row -->

                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary" [disabled]="!(f.form.valid && isCheckCaptcha == true)">
                                <i class="fa fa-save"></i> Save new password</button>
                        </div>
                    </form>

                    <hr>

                    <h3>Personal details</h3>
                    <form #ff="ngForm" [formGroup]="userInfoChangeForm" (ngSubmit)="updateInfo()">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstname">Firstname</label>
                                    <input type="text" class="form-control" id="firstname" formControlName="firstName" pattern="[A-Za-z]{4,}$">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastname">Lastname</label>
                                    <input type="text" class="form-control" id="lastname" formControlName="lastName" pattern="[A-Za-z]{4,}$">
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="phone">Telephone</label>
                                    <input type="text" class="form-control" id="phone" formControlName="phone" pattern="(0|2|9|)\d{9}">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" disabled>
                                </div>
                            </div>
                            <div></div>
                            <div class="col-sm-12 text-center">
                                <re-captcha (resolved)="resolvedUserInfo($event)" siteKey="6LffB00UAAAAAKCipdmwqbLTzE7KCoJrd67SD7oG"></re-captcha>
                                <button type="submit" class="btn btn-primary" [disabled]="!(ff.form.valid && isCheckCaptchaUserInfo == true)">
                                    <i class="fa fa-save"></i> Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->