<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="/css/admin/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/css/admin/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
		<link href="/css/admin/sweet-alert.css" rel="stylesheet" type="text/css" />
		<link href="/css/admin/typeahead.css" rel="stylesheet" type="text/css" />
		<link href="/css/admin/spinner.css" rel="stylesheet" type="text/css" />
		<link href="/css/admin/style.css" rel="stylesheet" type="text/css" />
		<link href="/css/admin/bootstrap-switch.css" rel="stylesheet">
		<link href="/css/admin/tagsinput.css" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="/css/admin/bootstrap-iconpicker.min.css"/>
		<link rel="shortcut icon" type="image/png" href=""/>
		<script type="text/javascript" src="/js/admin/jquery.js"></script>
		<!-- <div id="loader-wrapper">
			<div id="loader"></div>
		</div>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(window).load(function(){
					$('#loader-wrapper').fadeOut('slow',function(){$(this).remove();});
				});
			});
		</script> -->